.footer-division{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-top: 2px solid #797979;
    padding: 15px;
}

.terms-privacy{
    list-style-type: none;
    display: flex;
    flex-basis: 20%;
}

.terms-privacy li{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 700px){
    .footer-division{
        padding: 5px;
    }
    .terms-privacy li{
        font-size: 14px;
    }
    .terms-privacy{
        flex-basis: 40%;
    }
    .footer-division p{
        font-size: 14px;
    }
    
}